<div class="container">
    <select class="form-control form-control-lg md" [(ngModel)]="currencySelected" (change)="capturar()">
        <option [value]="item" *ngFor="let item of currencies">{{item}}</option>
    </select>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Rate</th>
                <th class="text-center">Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rate of rates">
                <td class="text-center">{{ rate.currency }}</td>
                <td class="text-center">{{ rate.rate }}</td>
            </tr>
        </tbody>
    </table>
</div>